//- top
div.r2s-play-dashboard(
  flex,
  layout='row',
  layout-xs='column'
)

  //- dashboard
  div(
    flex-gt-xs='50',
    flex-xs,
    layout='column',
    flex-order-gt-xs='2',
    flex-order-xs='1',
    md-colors="::{backgroundColor: 'default-primary-hue-2'}"
  )

    //- Happy or sad Earth
    div.r2s-play-dashboard-earth(
      layout='column',
      layout-align='center center'
      layout-padding,
      md-colors="::{backgroundColor: 'default-primary-hue-1'}"
    )
      div(hide, show-gt-sm)
        h2.md-display-1 Keep the world healthy
      div(hide-gt-sm)
        h2.md-headline Keep the world healthy
      img(
        ng-src='/images/earth_01.svg',
        alt='An illustration of a happy, healthy Earth'
        width='179px'
      )

    md-toolbar.md-accent(layout-padding)
      .md-toolbar-tools
        h3 Name of school

    md-toolbar.md-accent.md-hue-2(layout-padding)
      .md-toolbar-tools(layout='row')
        h3(flex='70') Active travel rate
        div(flex='30', layout='column', layout-align='center center')
          img.svg-flipped(
            flex,
            ng-src='/images/active_kids.svg',
            alt='Illustration of a child on a scooter, one on a bicycle, and one walking',
            width='100%'
          )


    //- div(
    //-   layout='row',
    //-   layout-padding
    //- )
    //-   div(flex='75', layout='column', layout-align='center start')
    //-     h3.md-title Encourage active travellers
      //- div(flex='25', layout='column', layout-align='center center')
      //-   img.svg-flipped(
      //-     flex,
      //-     ng-src='/images/active_kids.svg',
      //-     alt='Illustration of a child on a scooter, one on a bicycle, and one walking',
      //-     width='100%'
      //-   )

    div(
      layout='row',
      layout-padding
    )
      div.chart(flex, id='chart_div')

    md-toolbar.md-accent.md-hue-2(layout-padding)
      .md-toolbar-tools(layout='row')
        h3(flex='70') Trees vs C02
        div(flex='30', layout='column', layout-align='center center')
          img.svg-flipped(
            flex,
            ng-src='/images/active_kids.svg',
            alt='Illustration of a child on a scooter, one on a bicycle, and one walking',
            width='100%'
          )

    div(
      layout='row',
      layout-align='center center',
      layout-padding
    )
      svg(width='90%', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
        image.svg-scaled(x='0', y='0', width='90%', xlink:href='/images/trees-balloons.svg')

      //- img.svg-scaled(
      //-   flex,
      //-   ng-src='/images/trees-balloons.svg',
      //-   alt='Trees vs balloons scale',
      //-   viewBox='0 0 100 100',
      //-   width='100%'
      //- )

    div(flex, show-gt-xs)

  //- current month challenges and tasks
  div(
    flex-gt-xs='50',
    flex-xs,
    layout='column',
    flex-order-gt-xs='1',
    flex-order-xs='2',
    md-colors="::{backgroundColor: 'default-primary-hue-3'}"
  )

    div(

    )
      md-content(flex)

        md-toolbar.md-primary.md-hue-3(layout-padding, ng-show='vm.firstLogin')
          .md-toolbar-tools
            md-button.md-fab.md-warn 1
            h3 Complete 1 challenge a month

        md-content(layout-padding, md-colors="::{backgroundColor: 'default-primary-hue-3'}")
          //- p(ng-show='vm.firstLogin') That's all you need to do. Are you ready?
          challenge-card(challenge='vm.challengeCurrent')

        md-toolbar.md-primary.md-hue-3(layout-padding, ng-show='vm.firstLogin')
          .md-toolbar-tools
            md-button.md-fab.md-warn 2
            h3 Unlock BONUS challenges

        md-content(layout-padding, md-colors="::{backgroundColor: 'default-primary-hue-3'}")
          //- p(ng-if='vm.firstLogin') If you complete your challenge early, you can take on a bonus challenge.
          challenge-card(challenge='vm.challengeBonus')

        md-toolbar.md-primary.md-hue-3(layout-padding, ng-show='vm.firstLogin')
          .md-toolbar-tools
            md-button.md-fab.md-warn 3
            h3 Count your active travellers

        md-content(layout-padding, md-colors="::{backgroundColor: 'default-primary-hue-3'}")
          //- p(ng-show='vm.firstLogin') Once a month count how many new active travellers you have.
          md-card
            md-card-title
              md-card-title-text
                span.md-headline 28 days to go
                span.md-subhead Until you can count again
              md-card-title-media
                //- left empty on purpose, otherwise the subhead changes colour
            md-card-actions(layout='row', layout-align='end center')
              md-button Learn how
              md-button(ng-disabled='true') Count now

//- bottom
div.r2s-play-dashboard(
  flex
  layout='row',
  layout-xs='column'
)

  div(
    flex-gt-xs='50',
    flex-xs,
    layout='column'
  )
    md-content(flex)

      md-content(layout-padding)
        challenge-card(ng-repeat='challenge in vm.challengesUpcoming', challenge='challenge')

  div(
    flex-gt-xs='50',
    flex-xs,
    layout='column'
    ng-hide='vm.firstLogin'
  )
    md-content(flex)

      md-content(layout-padding)
        challenge-card(ng-repeat='challenge in vm.challengesCompleted', challenge='challenge')
