div.r2s-play(layout='row', layout-xs='column', layout-wrap)
  //- dashboard
  div.r2s-play-dashboard(
    flex-gt-xs='50',
    flex-xs,
    layout='column',
    layout-align='start',
    md-colors="::{backgroundColor: 'default-primary-hue-2'}",
    flex-order-gt-xs='2',
    flex-order-xs='1'
  )

    //- Happy or sad Earth
    div.r2s-play-dashboard-earth(
      layout='column',
      layout-align='center center'
      layout-padding,
      md-colors="::{backgroundColor: 'default-primary-hue-2'}"
    )
      div(hide, show-gt-sm)
        h2.md-display-1 Keep the world healthy
      div(hide-gt-sm)
        h2.md-headline Keep the world healthy
      img(
        ng-src='/images/earth_04.svg',
        alt='An illustration of a happy, healthy Earth'
        width='179px'
      )

    div(
      layout='row',
      layout-padding,
      md-colors="::{backgroundColor: 'default-primary-hue-2'}"
    )
      div(flex='20', layout='column', layout-align='center center')
        img(
          flex,
          ng-src='/images/active_kids.svg',
          alt='Illustration of a child on a scooter, one on a bicycle, and one walking',
          width='100%'
        )
      div(flex, layout='column', layout-align='start start')
        h3.md-subhead Encourage active travellers
        md-progress-linear.md-accent(md-mode='determinate', value='45')

    div(
      layout='row',
      layout-padding,
      md-colors="::{backgroundColor: 'default-primary-hue-2'}"
    )
      div(flex='20', layout='column', layout-align='center center')
        img(
          flex,
          ng-src='/images/more_trees.svg',
          alt='Illustration of trees',
          width='100%'
        )
      div(flex, layout='column', layout-align='start start')
        h3.md-subhead More travellers means more trees
        md-progress-linear.md-accent(md-mode='determinate', value='80')

    div(
      layout='row',
      layout-padding,
      md-colors="::{backgroundColor: 'default-primary-hue-2'}"
    )
      div(flex='20', layout='column', layout-align='center center')
        //- img(
          flex,
          ng-src='/images/earth_04.svg',
          alt='An illustration of a happy, healthy Earth'
          width='100%'
        //- )
      div(flex, layout='column', layout-align='start start')
        h3.md-subhead Travellers and trees means less CO2
        md-progress-linear.md-warn(md-mode='determinate', value='60')

  div(
    flex-gt-xs='50',
    flex-xs,
    layout='column',
    flex-order-gt-xs='1',
    flex-order-xs='2',
    md-colors="::{backgroundColor: 'default-primary-hue-2'}"
  )
    md-content(flex)

      md-toolbar.md-primary.md-hue-2(layout-padding, ng-show='vm.firstLogin')
        .md-toolbar-tools
          md-button.md-fab.md-accent 1
          h3 Complete 1 challenge a month

      md-content(layout-padding, md-colors="::{backgroundColor: 'default-primary-hue-2'}")
        p(ng-show='vm.firstLogin') That's all you need to do. Are you ready?
        gz-challenge-card(challenge='vm.challengeCurrent')

      md-toolbar.md-primary.md-hue-2(layout-padding, ng-show='vm.firstLogin')
        .md-toolbar-tools
          md-button.md-fab.md-accent 2
          h3 Unlock BONUS challenges

      md-content(layout-padding, md-colors="::{backgroundColor: 'default-primary-hue-2'}")
        p(ng-if='vm.firstLogin') If you complete your challenge early, you can take on a bonus challenge.
        gz-challenge-card(challenge='vm.challengeBonus')

      md-toolbar.md-primary.md-hue-2(layout-padding, ng-show='vm.firstLogin')
        .md-toolbar-tools
          md-button.md-fab.md-accent 3
          h3 Count your active travellers

      //- md-card(md-colors="::{backgroundColor: 'default-accent'}")
      md-content(layout-padding, md-colors="::{backgroundColor: 'default-primary-hue-2'}")
        p(ng-show='vm.firstLogin') Once a month count how many new active travellers you have.
        md-card
          md-card-title
            md-card-title-text
              span.md-headline 28 days to go
              span.md-subhead Until you can count again
            md-card-title-media
              //- left empty on purpose, otherwise the subhead changes colour
          md-card-actions(layout='row', layout-align='end center')
            md-button Learn how
            md-button(ng-disabled='true') Count now

  div(
    flex-gt-xs='50',
    flex-xs,
    layout='column',
    flex-order='3'
  )
    md-content(flex)

      md-toolbar.md-primary.md-hue-2(layout-padding, ng-show='vm.firstLogin')
        .md-toolbar-tools
          md-button.md-fab.md-accent 4
          h3 One challenge per month

      md-content(layout-padding)
        gz-challenge-card(ng-repeat='challenge in vm.challengesUpcoming', challenge='challenge')

  div(
    flex-gt-xs='50',
    flex-xs,
    layout='column',
    flex-order='3',
    ng-hide='vm.firstLogin'
  )
    md-content(flex)

      //- md-toolbar.md-primary.md-hue-2
      //-   h3.md-toolbar-tools
      //-     | Completed challenges

      md-content(layout-padding)
        gz-challenge-card(ng-repeat='challenge in vm.challengesCompleted', challenge='challenge')
