div.r2s-play(ng-controller='PlayCtrl', layout='row', layout-xs='column')
  //- dashboard
  div.r2s-play-dashboard(flex='50', flex-xs, md-colors="::{backgroundColor: 'default-primary-hue-2'}", layout-padding)
    h1.md-display-2 Temporary
  //- challenges
  div.r2s-play-challenges(flex='50', flex-xs, layout-padding)
    md-content
      md-card.r2s-challenge_preview(md-colors="::{backgroundColor: 'default-accent-hue-1'}")
        md-card-title
          md-card-title-text
            span.md-headline Complete your first hands up
            span.md-subhead Current challenge
          md-card-title-media
            div.md-media-sm
              //- img(
              //-   flex,
              //-   ng-src='/images/current_challenge.svg',
              //-   alt='Current challenge icon'
              //- )
        md-card-content(layout='row')
          div(flex='80', layout='column', layout-padding, layout-align='center end')
            md-progress-linear.md-primary(md-mode='determinate', value='50')
            //- md-slider-container
              md-slider.md-primary(
                flex,
                step='10',
                min='0',
                max='100',
                ng-model='challengeCurrent.progress'
                aria-label='Challenge progress',
                id='challenge-current-progress',
                md-discrete,
                ng-readonly='true'
              )
          div(flex='10', layout='column', layout-padding)
            md-icon.material-icons face
          div(flex, layout='column', layout-padding)
            md-icon.material-icons.md-48 settings_input_antenna
