md-sidenav.md-sidenav-left(
  md-component-id='left',
  md-whiteframe='4',
  layout='column',
  layout-align='space-between stretch'
)
  div.r2s-md-sidenav-left
    md-toolbar(ng-hide='vm.isLoggedIn()')
      h2.md-toolbar-tools Would you like to play?
    md-toolbar(ng-show='vm.isLoggedIn()')
      h2.md-toolbar-tools Game on
    //- md-toolbar(md-colors="{background: 'default-accent'}", ng-hide='vm.isLoggedIn()')
    //-   h3.md-toolbar-tools TEMP SCHOOL NAME
    md-toolbar(md-colors="{background: 'default-accent'}", ng-show='vm.isLoggedIn()')
      h3.md-toolbar-tools {{ vm.school.name }}
    //- div(layout-padding, layout='row', md-colors="::{backgroundColor: 'default-primary-hue-2'}")
    div(layout-padding, layout='column', ng-hide='vm.isLoggedIn()')
        p All you need is one teacher, and one student who are ready to take on
          |  a challenge per month, to help you increase the number of active
          |  travellers, and keep the planet healthy.
    div(layout-padding, layout='row', ng-hide='vm.isLoggedIn()')
      div(flex='40', layout='column' layout-align='center center')
        img(
          width='70%',
          ng-src='/images/avatar_student.svg',
          alt='Illustration of a students face'
        )
        p Student
      div(flex='20', layout='column' layout-align='start center')
        i.material-icons.md-light.r2s-icon-size-48 add
      div(flex='40', layout='column' layout-align='center center')
        img(
          width='70%',
          ng-src='/images/avatar_teacher.svg',
          alt='Illustration of a teachers face'
        )
        p Teacher
    div(layout-padding, layout='column', ng-show='vm.isLoggedIn()')
      div(flex, layout='column' layout-align='center center')
        img(
          ng-src='/images/avatar_student.svg',
          alt='Illustration of a students face',
          ng-show="vm.player=='student'"
        )
        img(
          ng-src='/images/avatar_teacher.svg',
          alt='Illustration of a teachers face',
          ng-show="vm.player=='teacher'"
        )
        p {{ vm.player.codename }}
    md-toolbar.md-accent(ng-hide='vm.isLoggedIn()')
      .md-toolbar-tools
        span(flex)
        md-button.md-raised(aria-label='Begin', ng-click="vm.navigate('begin')") Begin
        md-button.md-raised(aria-label='Resume', ng-click="vm.navigate('resume')") Resume
  div
    md-list
      md-divider
      md-list-item.md-2-line(ng-click="vm.navigate('how')")
        md-icon.material-icons.md-48 info_outline
        .md-list-item-text
          h3 How does it work?
          p What do we have to do?
      md-list-item.md-2-line(ng-click="vm.navigate('why')")
        md-icon.material-icons.md-48 error_outline
        .md-list-item-text
          h3 Why active travellers?
          p How can active travel help?
      md-list-item.md-2-line(ng-click="vm.navigate('support')", ng-show='vm.isLoggedIn()')
        md-icon.material-icons.md-48 help_outline
        .md-list-item-text
          h3 Support
          p We all need some help sometimes
      md-list-item.md-2-line(ng-click="vm.navigate('account')", ng-show='vm.isLoggedIn()')
        md-icon.material-icons.md-48 account_circle
        .md-list-item-text
          h3 Account
          p Edit your account details
      md-list-item.md-2-line(ng-click='vm.logout()', ng-show='vm.isLoggedIn()')
        md-icon.material-icons.md-48 power_settings_new
        .md-list-item-text
          h3 Logout
          p Come back soon
